.head-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.head-image {
	width: auto;
	transition: max-width 1s, min-width 1.5s;
}

.head-image-expanded {
	min-width: 300px;
	max-width: 280px;
}

.head-image-contracted {
	min-width: 100px;
	max-width: 120px;
}

.head-text {
	margin: 5px 0 15px 0;
}
