.search-container {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.search-input {
	padding: 18px 25px;
	font-size: 25px;
	width: 350px;
	border-width: 0;
	background: #b1adc0;
	color: #e7e9f0;
	border-radius: 50px;
	box-shadow: 0 0 5px rgba(182, 158, 158, 0.5);
}

.search-input::placeholder {
	color: #e7e9f0;
}

.search-input:focus {
	outline: navy;
}
